<div #anchor (click)="togglePopup(anchor)">
    <ng-content select="[popupHeader]"></ng-content>
</div>

<ng-template #templateRef>
    <ng-content select="[template]"></ng-content>
</ng-template>

<ng-template #SimplePopup>
    {{ data }}
</ng-template>