<!--The content below is only a placeholder and can be replaced.-->
<div #popup>
  Popup
</div>

<simple-popup [data]="'Hello Template'">
  <div popupHeader>
    <button>Toggle popup</button>
  </div>
</simple-popup>

<router-outlet></router-outlet>
